<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body style="text-align:center;">
    <h1>Sales Dashboard</h1>

    <img src="{{ url_for('static', filename='images/monthly_orders.png') }}" width="500"><br><br>
    <img src="{{ url_for('static', filename='images/top_customers.png') }}" width="500"><br><br>
    <img src="{{ url_for('static', filename='images/sales_by_category.png') }}" width="500"><br><br>
    <img src="{{ url_for('static', filename='images/top_products.png') }}" width="500"><br><br>
    <img src="{{ url_for('static', filename='images/sales_trend.png') }}" width="500"><br><br>

</body>
</html>
